body {
    height: 100vh;
    width: 100vw;
    margin: 5pt;
}

.top-row-box {
    height: 25vh;
    width: 98vw;
    border: 3pt solid black;
    position: relative;
}

.purple-column {
    display: inline-block;
    height: 70%;
    width: 3%;
    position: relative;
    margin: 5px;
    background-color: purple;
    bottom: 0;
    left: 0;
}

.green-rectangle {
    display: inline-block;
    height: 95%;
    width: 45%;
    margin: 5px 20px 5px 20px;
    background-color: seagreen;
    bottom: 0;
}

.blue-circle {
    display: inline-block;
    height: 95%;
    width: 15%;
    max-width: 100%;
    margin: 5px;
    border-radius: 50%;
    background-color: lightskyblue;
}

.middle-row-box {
    height: 35vh;
    width: 98vw;
    border: 1pt dashed black;
    position: relative;
    text-align: center;
    margin: 5px;
}

.yellow-shadowed-box {
    display: inline-block;
    height: 92%;
    width: 96%;
    margin: 10px;
    background-color: #fff9c4;
    box-shadow: 3px 3px;
}

.bottom-row-box {
    height: 35vh;
    width: 100vw;
}
    
.bottom-left-corner {
    display: inline-block;
    height: 90%;
    width: 25%;
    margin: 0 auto;
}

.hello-friends-box {
    display: inline-block;
    border: 1pt solid lightgrey;
    box-shadow: 2px 2px lightgrey;
    height: 90%;
    width: 50%;
    margin: 5px;
}

.bottom-right-corner {
    
}