.nav-rectangle {
    height: 15vh;
    width: 100vw;
    background-color: black;
}

.left-column {
    display: inline-block;
    height: 85vh;
    width: 15vw;
    background-color: lightgrey;
}

.center-block {
    display: inline-block;
    height: 77vh;
    width: 70vw;
    background-color: white;
}

.right-column {
    display: inline-block;
    height: 85vh;
    width: 15vw;
    background-color: lightgray;
}

.footer {
    display: flex;
    float: both;
    text-align: center;
    height: 8vh;
    width: 70vw;
    background-color: black;
}